{% extends "base_user.html" %}

{% block content %}
<style>
::-webkit-scrollbar {
    width: 15px;
    background:lightgray;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,255,1);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background:#5e72e4;
}

</style>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-2 mb-5 mb-xl-0"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="/static/assets/img/theme/user.png" class="rounded-circle"
                                     style="border:2px grey solid; background-color:white;">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="card-body pt-0 pt-md-4">

                    <div class="text-center">
                        <h3>
                            {{user.firstName}} {{user.lastName}}
                        </h3>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>{{user.email}} <br>
                            <i class="ni location_pin mr-2"></i>Username: {{user.username}}
                        </div>
                        <div class="h5 mt-4">
                            <span>Score</span>
                            <i class="ni business_briefcase-24 mr-2"></i>{{user.score}}
                        </div>

                    </div>
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                                   href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1"
                                   aria-selected="true"><i class="ni ni-bullet-list-67 mr-2"></i>Browse Challenges</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                                   href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                                   aria-selected="false"><i class="ni ni ni-bulb-61 mr-2"></i>My Predictions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" style="height: 300px;
                                overflow-y: auto;" id="tabs-icons-text-1" role="tabpanel"
                                     aria-labelledby="tabs-icons-text-1-tab">
                                    {% if challenge %}
                                    <ul class="list-group">
                                        {% for item in challenge %}
                                        <li class="list-group-item">
                                            <a href="/challengeDetails/{{item.id}}/"><strong style="font-weight: bold;">{{item.challengeTitle}} </strong></a>
                                            <br><br><code style="color: black;">{{item.challengeDescription}}</code><br><br>
                                            <article>
                                                Published:{{item.challengeCreatedAt}} <br>
                                                Deadline:{{item.challengeDeadline}}
                                            </article>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- <br>
                                    <button type="button" class="btn btn-sm btn-fill btn-block btn-default">Load
                                        more...
                                    </button> -->
                                    {% else %}
                                    <p>No challenges available right now.</p>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" style="height: 300px;
                                overflow-y: auto;"
                                     aria-labelledby="tabs-icons-text-2-tab">
                                    {% if prediction %}
                                    <ul class="list-group">
                                        {% load app_filters %}
                                        {% for item in prediction %}
                                        <li class="list-group-item">
                                            <a href="/myprediction/{{item.id}}/">
                                                <strong style="font-weight: bold;">
                                                    {{ item.challenge_id | get_challenge_info }}
                                                </strong>
                                            </a>
                                            <article>
                                                Submitted: {{item.submittedAt}} <br>
                                                Score: {{item.score}}
                                            </article>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <br>
                                    {% else %}
                                    <p>No prediction available right now.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-2 mb-5 mb-xl-0"></div>

    </div>

</div>

{% endblock %}
